/* Estilos de página para llenar datos usuario */ 
* {
    box-sizing: border-box;
  }


.img-fluid {
    max-height: 100%;
}
.formulario {
    left      : 50%;
    top       : 40%;
    position  : absolute;
    transform : translate(-50%, -50%);
    z-index: 2;
    background: rgba(0,102,155,0);
}
.titulo {
    background-color: white; 
    border: 2px solid black;
    display: flex; 
    justify-content: center;
 }
 html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.wrapper {
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: auto;
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;

}
.wrapper section .item {
  position: relative;
  padding: 0 2px;
  transition: 250ms all;
}
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}
.wrapper section .item .heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.container {
  display: flex;
  max-width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.wrapper  img {
  width:  300px;
  height: 250px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: calc((100% - 1vw));
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 80%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}

  